{% extends 'base.html.twig' %}

{% block title %}Inscrivez-nous à notre newsletter
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="display-1">Inscription à la newsletter</h1>
		{{ form(form) }}
		</div>
	{% endblock %}
