{% extends 'base.html.twig' %}

{% block title %}Catégories
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="display-1">Catégories</h1>
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
			{% for category in categories %}
				<div class="col">
					{% include 'category/card.html.twig' with {'category': category} %}
				</div>
			{% else %}
				<p>Aucune catégorie trouvée</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}
