{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="display-1">Bienvenue</h1>
		<h3 class="display-3">Derniers articles :</h3>
		{% for article in last_articles %}
			{% set vars = {
                'card_title': article.title,
                'card_text': article.date|date('d/m/Y'),
                'card_link': 'https://github.com'
            } %}
			{% include 'common/card.html.twig' with vars %}
		{% endfor %}
	</div>
{% endblock %}
