<div class="card">
	<div class="card-body">
		<h5 class="card-title">{{ card_title }}</h5>
		<p class="card-text">{{ card_text }}</p>
		<p>
			<a href="{{ card_link }}" class="btn btn-primary">Voir</a>
		</p>
	</div>
</div>
